body{
    overflow-x: hidden;
}

.header-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.header-button-white{
    border: black solid 1px;
    padding: 10px 35px 10px 35px;
}

.header-button-orange{
    border: #ff4c00 solid 1px;
    padding: 10px 35px 10px 35px;
}

.bg-cl-companies{
    background-color: #FF9C7D;
}

.bg-cl-localize{
    background-color: #FFF8E4;
}

.bg-cl-revolut{
    background-color: #C9E8F2;
}

.bg-cl-rate{
    background-color: #DABC98;
}

.bg-cl-orange{
    background-color: #FF9C7D;
}

.vertical-stick {
    width: 2px;
    height: 75px;
    background-color: black;
    margin: 20px auto;
}

.horizontal-stick {
    width: 90vw;
    height: 1px;
    background-color: black;
    margin: 20px auto;
}