*{
  box-sizing: border-box;
  font-family: 'Roboto Light', sans-serif;
}

.header{
  background-color: #EEEFF1;
}

.about{
  width: 540px;
  margin-inline: auto;
  background-color: #F9F9F9;
}

.container{
  width: 1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

.container h1{
  padding-top: 80px;
  padding-bottom: 60px;
  font-size: 48px;
  font-weight: 500;
}

.item-list{
  list-style-type: none;
}

.list{
  display: flex;
  padding-inline: 0px;
  margin-block: 0px;
  padding-block: 80px;
  gap: 10px;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.item{
  padding: 0px;
  flex: 1 1 20px;
}

.about-text{
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding-bottom: 65px;
}

.about-text2{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  padding-inline: 300px;
  padding-bottom: 100px;
}

.about-title{
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 32px;
}

.container-about{
  width: 540px;
  margin-inline: auto;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding-bottom: 65px;
}

.button{
 color: #ffffffff;
  background-color: #34547A;
  border: 0;
  padding-inline: 41px;
  padding-block: 19px 20px;
  margin-bottom: 65px;

}

.container-work{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 49px;
}

.item-work{
  width: 141px;
  height: 50px;
  background: left no-repeat url('./images/project-icon.svg');
  padding: 70px;
  font-size: 21px;
  line-height: 24px;

}

.work{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #34547A;
}

.how{
  background-color: #EEEFF1;
}

.how-container{
  width: 1150px;
  height: 1004px;
  margin-inline: auto;
  margin: 0;
}

.how-title{
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 32px;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
}

.how-text{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  padding-inline: 300px;
  padding-bottom: 57px;
  margin: 0;
}

.how-video{
  padding-bottom: 100px;
  margin: 0;
}

.footer{
  background-color: #34547A;
}

.footer-container{

  width: 1150px;
  height: 151px;
}

.footer-text{
  margin: 0;
  padding-top: 20px;
}

.footer-text-name{
  padding-top: 50px;
  margin: 0;
}