@use "normalize";
@use "header";
@use "about";
@use "work";
@use "how";
@use "footer";
@use "responsive";


$white:#FFFFFF;
$grey-bg: #EEEFF1;
$grey: #727272;
$darkblue: #34547A;

html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto Light', sans-serif;
}


.container{
  min-width: 1160px;
  margin-inline: auto;
  padding-inline: 20px;
  overflow: hidden;
}

.container h1{
  padding-top: 80px;
  padding-bottom: 60px;
  font-size: 48px;
  font-weight: 500;
}

.padding-how{
  padding-left: 20%;
}

